{% extends 'base.html' %}

<body>
{% block content %}
    {{ session["user"] }}
    <h1>Login</h1>

    <form action="{{ url_for('user.login') }}" method="POST">
        {{ form.hidden_tag() }}

        <div>{{ form.email.label }}</div>
        <div>{{ form.email }}</div>
        <div>{{ form.password.label }}</div>
        <div>{{ form.password }}</div>
        <div>{{ form.submit }}</div>
    </form>
<!--end frontpage-main-->
<div id="featured-section">
<div id="circles"><img class="first" src="static/images/clean1.png" /> <img src="static/images/built1.png" /> <img src="static/images/reparing.png" /> <img src="static/images/mover2.png" /> </div>
  <div id="footer">
      <p> 2022 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
  </div>
  </div>>
{% endblock %}
</body>
</html>