{% extends 'base.html' %}

<body>
{% block content %}
    {{ session["user"] }}


    <form action="{{ url_for('executor.add_executor') }}" method="POST" enctype="multipart/form-data">
        {{form.errors}}
        {{ form.hidden_tag() }}
         <div>{{ form.speciality.label }}</div>
        <div>{{ form.speciality }}</div>
        <div>{{ form.first_name.label }}</div>
        <div>{{ form.first_name }}</div>
        <div>{{ form.last_name.label }}</div>
        <div>{{ form.last_name}}</div>
        <div>{{ form.phone_number.label }}</div>
        <div>{{ form.phone_number }}</div>
        <div>{{ form.city.label }}</div>
        <div>{{ form.city }}</div>
         <div>{{ form.photo.label }}</div>
        <div>{{ form.photo }}</div>



        <div>{{ form.submit }}</div>
    </form>
<!--end frontpage-main-->
<div id="featured-section">
<div id="circles"><img class="first" src="static/images/clean1.png" /> <img src="static/images/built1.png" /> <img src="static/images/reparing.png" /> <img src="static/images/mover2.png" /> </div>
  <div id="footer">
      <p> 2022 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
  </div>
  </div>>
{% endblock %}
</body>
</html>